[submodule "snakemake-interface-executor-plugins"]
	path = snakemake-interface-executor-plugins
	url = git@github.com:lukavom/snakemake-interface-executor-plugins.git
[submodule "snakemake"]
	path = snakemake
	url = git@github.com:lukavom/snakemake.git
